click==7.1.2
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
python-dotenv==0.14.0
Werkzeug==1.0.1
flask-cors==3.0.9
flask-mysql==1.4.0
pandas==1.1.2
pytrends==4.7.3
scipy==1.5.2
DateTime==4.3
waitress==1.4.4
gunicorn==20.0.4
recordtype==1.3